section.card {
    margin: 16px;
    height: 640px;
    width: 560px;
    /* background-color: white; */
    transition: all 0.5s ease-in-out;
}

.card > a.transition {
    cursor: default;
    border-radius: 0;
    z-index: 10;
    overflow: scroll;
}

.card > a > img,
.card > a > div > svg {
    transition: opacity 0.15s;
    opacity: 1;
}

.card > a.transition > img,
.card > a.transition > article,
.card > a.transition > div > div,
.card > a.transition > div > svg {
    opacity: 0;
}

section.card:has(a:hover) {
    width: 620px;
}

.card > a {
    display: flex;
    position: relative;
    margin: 0;
    left: 0px;
    top: 0px;
    height: 500vh;
    width: 200vw;
    max-width: 560px;
    max-height: calc(640px *0.66);
    background-color: var(--compcolor4);
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
    box-shadow: 5px 5px 5px var(--compcolor10);
    text-decoration: none;
}

.card > a:hover {
    max-width: 620px;
}

.card > a.no-preview {
    justify-content: center;
    align-items: center;
}

.card > article {
    margin: 24px 16px 16px 16px;
    transition: opacity 0.1s;
}

.card img {
    display: flex;
    position: relative;
    height: 100%;
    width: 140%;
}