#circular-gradient-container {
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    position: absolute;
}

#circular-gradient {
	display: flex;
	position: absolute;
	width: 500vw;
	min-width: 2000px;
	top: -200vw;
	left: -10vw;
}
