.linear-slider-container {
    display: flex;
    width: 180px;
    align-items: center;
}

.linear-slider {
    cursor: pointer;
    width: inherit;
    height: 16px;
    background-color: blue;
    border-radius: 16px;
}

.slider-ball {
    cursor: pointer;
    position: absolute;
    height: 14px;
    width: 36px;
    background-color: red;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 10px;
    margin-left: -8px;
}