.particles-container {
    display: flex;
    position: absolute;
    height: 180vh;
    transform: translateZ(0);
    width: 100vw;
    top: 0;
}

.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}